@use "../colors" as color;

.chip {
  display: flex;
  align-items: center;
  text-align: center;

  padding: 0.3rem;
  font-size: 0.8rem;
  border: solid 1px;
  border-radius: 4px;

  &--inProgress {
    color: white;
    background: color.$blue;
    border-color: color.$navy;
  }

  &--complete {
    background: color.$green;
    border-color: color.$olive;
  }
}
