@use "colors" as color;
@use "fonts" as font;

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  color: color.$font;
  background: color.$bg;
  font-family: font.$primary;
}
